<%- include("partials/header.ejs") %>


<div class="container-fluid">
    <div class="row align-items-center todoList">
        <h1 class="mainText">This is a TodoList. Go forth! And be organised!</h1>
        <div>
        <!-- For each element in todoList Array create a list item with a checkbox -->
        <% todoList.forEach(element => { %>
            <div class="task">
                <input type="checkbox">
                <label >  <%= element %></label>
            </div>
        <% }); %>
        </div>

        <div>
            <form action="/create" method="POST">
                <label for="task">Create a task</label><br>
                <input type="text" id="taskInput" name="task">
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>