main{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.903);
    padding: 50px;
}

div > h1{
    font-size: 48px;
    margin-bottom: 50px;
}

.text{
    font-size: 32px;
    display: inline-block;
    text-align: left;
    width: 750px;
}

.text > label{
    cursor: pointer;
}

.task > input{
    cursor: pointer;
}

.taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskCompleted{
    text-decoration: line-through;
}